<div class="row text-center g-3 m-5" *ngIf="article && article.id">
    <div class="col col-md-12">
        <div class="card">
            <div class="card-body">
                <h1>
                    {{article.title}}
                </h1>
            </div>
            
            <p>
                <img class="img-fluid mx-auto" src="http://localhost:8080/image/{{article.image}}" alt="Card image cap"
                    width="800" height="600">
            </p>

            <div class="card-body">

                <p id="text">
                    L'article numéro : {{article.id}}
                </p>

                <p id="text">
                    Déscription : {{article.description}}
                </p>

                <p id="text-date">
                    Date de parution : {{article.date}}
                </p>

                <button class="btn btn-outline-danger py-2 px-5" (click)="delete(article.id)">Supprimer</button>

                <h3>Commentaires</h3>
                <p id="comments" *ngFor="let comment of article.comments">{{comment.comment}} <br> {{comment.date}}</p>

            </div>
        </div>
    </div>
</div>

<app-comment-form [article]="article"></app-comment-form>