#text{
    text-align: center;
    font-weight: bold;
    /* text-decoration: underline; */
}

h1, h3{
    text-align: center;
    font-weight: bold;
    margin-top: 5rem;
    margin-bottom: 1rem;
}

#text-date{
    text-align: center;
    font-weight: bold;
    font-style: italic;
}

.card{
    background-color: rgb(208, 255, 255);
}