<form (ngSubmit)="addComment()">
    <div class="row text-center g-5 m-5">
        <div class="col-md-12">
            <div class="form-group">
                <label for="exampleInputEmail1 ">
                    <h4> Ecrivez Votre Commentaire </h4>
                </label>
                <textarea class="form-control" id="exampleFormControlTextarea1" name="comment" rows="3"
                    [(ngModel)]="inputComment"></textarea>

                <div class="col-auto">
                    <span id="passwordHelpInline" class="form-text">
                        500 Caractères maxi.
                    </span>
                </div>
            </div>

            <button type="submit" class="btn btn-outline-primary">Publier le commentaire</button>

        </div>
    </div>
</form>