<footer class="text-center text-white" style="background-color: #caced1;">
  <section class="container p-1 p-md-4">
    <div class="row g-1 g-md-3">
      <div class="col-2">
        <div class="bg-image hover-overlay ripple shadow-1-strong rounded" data-ripple-color="light">
          <img src="/assets/image/imageParisTour.jpg" class="w-100" />
          <a href="#!">
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
          </a>
        </div>
      </div>
      <div class="col-2">
        <div class="bg-image hover-overlay ripple shadow-1-strong rounded" data-ripple-color="light">
          <img src="/assets/image/ImageLyon.jpg" class="w-100" />
          <a href="#!">
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
          </a>
        </div>
      </div>
      <div class="col-2">
        <div class="bg-image hover-overlay ripple shadow-1-strong rounded" data-ripple-color="light">
          <img src="/assets/image/ImageMtBlanc.jpg" class="w-100" />
          <a href="#!">
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
          </a>
        </div>
      </div>
      <div class="col-2">
        <div class="bg-image hover-overlay ripple shadow-1-strong rounded" data-ripple-color="light">
          <img src="/assets/image/imageParisArc.jpg" class="w-100" />
          <a href="#!">
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
          </a>
        </div>
      </div>
      <div class="col-2">
        <div class="bg-image hover-overlay ripple shadow-1-strong rounded" data-ripple-color="light">
          <img src="/assets/image/imagePoitiers.jpg" class="w-100" />
          <a href="#!">
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
          </a>
        </div>
      </div>
      <div class="col-2">
        <div class="bg-image hover-overlay ripple shadow-1-strong rounded" data-ripple-color="light">
          <img src="/assets/image/ImageMtStMichel.jpg" class="w-100" />
          <a href="#!">
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
          </a>
        </div>
      </div>
    </div>
  </section>

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    Mon Blog Voyage Copyrights:
    <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
  </div>
  <!-- Copyright -->
</footer>