
<div class="row g-3 m-4">
  <h1 class="text-center my-4">Liste des Articles</h1>
  <select [(ngModel)]="selCategory" (change)="filter()" class="form-select" name="category" id="category">
    <option value="0">Toutes les Categories</option>
    <option *ngFor="let category of categories" [value]="category.id">{{ category.label}}</option>

  </select>
  <div *ngFor="let article of articles" class="col-md-4">
      <div class="card">
          <div class="card-body">
              <img class="card-img-top" src="http://localhost:8080/image/{{article.image}}" alt="Card image cap" class="d-block w-100">
              <p class="card-id"> {{article.id}}</p>
              <h5 class="card-title text-center"> {{article.title}}</h5>
              <p class="card-text"> {{article.description}}</p>
              <p class="card-text"> {{article.date}}</p>
              
              <a href="#" class="btn btn-outline-primary" routerLink="/article/{{article.id}}">En savoir plus</a>

              <!-- <button class="btn btn-outline-danger py-2 px-5" (click)="delete(article.id!)">Delete</button>

              <app-comment-form [article]="article" (com)="updateList($event)"></app-comment-form> -->

          </div>
      </div>
  </div>
</div>













<!-- <div class="row">
<h1 class="text-center my-3">Liste des Articles</h1>

<div class="flex-container">
  
  <div class="col-md-12">
    <div *ngFor="let article of article" class="col-md-12">
    <div class="card">
        <div class="card-body">
            <img class="row" src="http://localhost:8080/image/{{article.image}}" alt="Card image cap" class="col-md-6">
         
          
            <p class="col-md-6"> {{article.id}}</p>
            <p class="card-title"> {{article.title}}</p>
            <p class="card-text"> {{article.description}}</p>
            <p class="card-text"> {{article.date}}</p>
            <a href="#" class="btn btn-primary" routerLink="/article/{{article.id}}">En savoir plus</a>
        </div>
    </div>
</div> -->






<!-- <section class="pageTitle text-center p-5 my-5">
<h3>
  Accueil
</h3>
</section>
<div *ngFor="let article of article" class="col-md-12">
<div class="row">
  <section class="container my-5 d-none d-lg-block ">
    <div class="row mx-auto">
      <div class="col-12 col-md-6 mt-5">
        <img class="img-fluid" src="http://localhost:8080/image/{{article.image}}" alt="img">
      </div>
      <div class="col-12 col-md-4 ml-5">
        <figure class="d-flex align-items-center h-100">
          <blockquote class="blockquote">
            <h1 class="card-title"> {{article.title}}</h1>
            <p class="mb-0" class="card-text"> {{article.description}}</p>
          </blockquote>
        </figure>
      </div>
    </div>
  </section>

  <section class="container my-5 d-none d-mb-block">
    <div class="row mx-auto">
      <div class="col-6">
        <figure class="d-flex align-items-center h-10">
          <blockquote class="blockquote text-capitalize">
            <h1 class="card-title"> {{article.title}}</h1>
            <p class="mb-0"class="card-text"> {{article.description}}
            </p>
          </blockquote>
        </figure>
      </div>
      <div class="col-4 mb-4">
        <img src="http://localhost:8080/image/{{article.image}}" alt="img">
      </div>
    </div>
  </section> -->
