<div class="row text-center g-3 m-5">
  <div class="col col-md-12">
    <button class="btn-success" (click)="showAddArticleForm()">Cliquez pour afficher le formulaire</button>
  </div>
</div>

<div *ngIf="displayAddArticle">

  <h1 class="text-center my-5">Ajouter un Article</h1>
  <form (ngSubmit)="addArticle()">
    <div class="mx-auto w-75 mt-5">
      <label for="exampleFormControlInput1" class="form-label">Titre</label>
      <input type="text" name="titre" class="form-control" id="exampleFormControlInput1" placeholder="Titre"
        [(ngModel)]="article.title">
    </div>

    <div class="mx-auto w-75 mt-4">
      <label for="exampleFormControlInput2" class="form-label">Description</label>
      <input type="text" name="titre" class="form-control" id="exampleFormControlInput2" placeholder="Description"
        [(ngModel)]="article.description">
    </div>

    <div class="mx-auto w-75 mt-4">
      <label for="formFile" class="form-label">Image</label>
      <input class="form-control" type="file" name="image" id="formFile" (change)="changeFile($event)">
    </div>

    <div class="mx-auto w-75 mt-4">
      <div class="Catégorie"> Choisir une Catégorie</div>
      <select [(ngModel)]="article.categoryId" (change)="select()" class="form-select" name="category" id="category"
        placeholder="Catégorie">
        <!-- <option value="1">Choisir une Categorie</option> -->
        <option *ngFor="let category of categories" [value]="category.id">{{ category.label}}</option>
      </select>
    </div>



    <!-- <div class="mx-auto w-75 mt-4">
          <div class="Catégorie"> Catégorie</div>
        <select name="category" id="category" [(ngModel)]="article.category" (change)="select()" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
            <option value="0">Choisissez la Categorie</option>
            <option *ngFor="let item of categories" [ngValue]="item.id">{{item.label}}</option>
          </select>
        </div> -->



    <!-- <div class="mx-auto w-75 mt-4">
        <label for="article.category" class="title">Catégorie </label><br>
        <select [(ngModel)]="article.category" name="categoryId" id="dropdown">
          <option *ngFor="let category of categories" [ngValue]="category.id">{{category.label}}</option>
        </select>
      </div> -->



    <div class="row">
      <div class="col-md-12 text-center my-5">
        <button type="submit" class="btn btn-outline-primary">Ajouter</button>
      </div>
    </div>


  </form>