<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="assets/image/Logo canva blog.png" width="110" height="80" class="d-inline-block align-top px-2"
      alt="Mon Blog Voyage">
  </a>
  <a class="navbar-brand" href="#">Blog Voyage</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/add">Ajouter un article</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Connexion</a>
      </li>
    </ul>
  </div>
</nav> -->

<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <img src="assets/image/Logo canva blog.png" width="100" height="70" class="d-inline-block align-top px-1"
      alt="Mon Blog Voyage">
    <a class="navbar-brand" href="#">Blog Voyage</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/add">Ajouter un article</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Connexion</a>
        </li>
      </ul>
    </div>
  </div>
</nav>


<div class="container-fluid">
  <h1 class="text-center mt-4 mb-5 ">Bienvenue Sur Mon Blog Voyage</h1>
  <div class="row">
    <div class="col 12">
      <div class="col 9 col-mb-5">
        <ngb-carousel>
          <ng-template ngbSlide *ngFor="let image of images">
            <div class="wrapper text-center">
              <img [src]="image.src" alt="Random first slide" style="width:50%;">
            </div>
            <div class="carousel-caption">
              <h3>{{ image.title }}</h3>
              <p>{{ image.short }}</p>
            </div>
          </ng-template>
        </ngb-carousel>
      </div>
    </div>
  </div>
</div>