/* You can add global styles to this file, and also import other style files */

body{
    /* background-image: url("/assets/image/FondEcranNuage.jpg");
    background-size: 100%;    */

    background-color: rgb(208, 255, 255);
}
